# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

.DS_Store 

script.ts
script2.ts
wildcard-sdk-1.2.1.tgz
src/script2.ts
